spring:
  application:
    name: service-client

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      probes:
        enabled: true

# (Optionnel) logs un peu plus détaillés pour voir le loadbalancer
logging:
  level:
    org.springframework.cloud.loadbalancer: INFO

---
spring:
  config:
    activate:
      on-profile: eureka
  cloud:
    discovery:
      enabled: true

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

---
spring:
  config:
    activate:
      on-profile: consul
  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        register: true
        health-check-path: /actuator/health
        health-check-interval: 10s
